body{
    margin: 0px;
}
h1{
    color: tomato;
    font-size: 60px;
    font-weight: 700;
    font-style: oblique;
}

.half-width{
    width: 40%;
    margin: 10px;
    padding: 30px;
    float: left;
 
}
.half-width img{
    width: 100%;
}
.text-centered{
    margin-top: 200px;
}
.text-centered-2{
    margin-top: 300px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}
.introduction{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}

.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 1000px;
}
h2{
    
    font-weight: 600;
}
.third-width{
    width: 20%;
    margin: 10px;
    
    float: left;  
 
}
.cr{
    margin-left: 20%;
}
.third-width img{
    width: 100%;
}
.mlw{
    
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 1000px;
    height: 700px;
}
h3{
    font-size: 40px;
    text-align: center;
}
.area{
    text-align: center;
    font-weight: 400;
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 1000px;
    height: 500px;
}
.link-button-again{
    text-decoration: none;
    background-image: linear-gradient(45deg,tomato,orange);
    padding: 50px 55px;
    margin-block: 30px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    font-size: 10px;
}
.for-link{
    text-decoration: none;
    color: white;
    font-size: 40px;
}

